<div class="container-fluid">
    <% include ../partials/header %>
    <% include ../partials/nav %>


    <div class="bg-3">
        <div class="contact-us">
            <% include msg %>
            <form action="/users/login" method="POST" class="form-container">
                <input type="name" name="name" id="name" class="form-control" placeholder="Nick-name" required>
                <!-- <input type="email" name="email" id="email" class="form-control" placeholder="Email" required> -->
                <input type="password" name="password" id="password" class="form-control" placeholder="Your password"
                    required>
                <button type="submit" class="btn auth mb-2">LOG IN</button>
            </form>
        </div>
    </div>
    <% include ../partials/footer %>
</div>