<% include ../partials/header %>
<% include ../partials/nav %>


<div class="bg-3">
  <div class="contact-us">
    <form action="/users/signup" method="POST" class="form-container" >
      <div class="form-group">
        <input type="name" name="name" id="name" class="form-control" placeholder="Nick name" required>
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Your password" required>
      </div>
      <button type="submit" class="auth">SIGN UP</button>
      <span class="mx-1"> or</span>
      <a href="/login" class="btn btn-info auth">LOG IN</a>
    </form>

  </div>
</div>

<% include ../partials/footer %>