<div class="container-fluid">
  <% include partials/header %>
  <% include partials/nav %>


  <div class="bg-1">
    <div class="bg-color">
      <h5>
        what do you know about
        <h1>IceCream?</h1>

      </h5>
      <br>
      <a href="/blog" class="waves-effect waves-light btn btn-lg btn-warning">
        Find Out
        <i class="material-icons">arrow_forward</i>
      </a>

    </div>
  </div>



  <% include partials/footer %>
</div>