<% include partials/header %>
<% include partials/nav %>


<div class="bg-1">
  <div class="bg-color">
    <h1 class="display-5">
      What <br> do you know <br> about the <br><span class="display-4">IceCream</span> ?
    </h1>

    <a href="/blog" class="waves-effect waves-light btn btn-lg btn-warning mb-5">Find Out <i
        class="material-icons">arrow_forward</i>
    </a>

  </div>
</div>



<% include partials/footer %>