<% include partials/header %>
<% include partials/nav %>


<div class="bg-1">
  <div class="bg-color">
    <h4>
      the most delicious
      <h1>IceCreams</h1>

    </h4>
    <br>
    <a href="/blog" class="waves-effect waves-light btn btn-lg btn-warning mb-5">
      Find Out
      <i class="material-icons">arrow_forward</i>
    </a>

  </div>
</div>



<% include partials/footer %>