body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.bg-1 {
  background-image: url(../images/pattern-3289978_1280.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: grid;
  place-items: center;
}

.bg-color {
  background-color: #e44a7e;
  text-align: center;
  padding: 3%;
  color: white;
}

.bg-color a {
  color: white;
  padding: 3% 7%;
}

.bg-color .material-icons {
  display: block;
}

div h1 {
  color: white;
  font-family: "Helvetica";
}

/*_______________________ nav-bar */

.navbar .navbar-brand {
  color: #95a4ff;
}

/*______________________________________________________ footer */

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 2rem;
}

.info {
  text-align: center;
  display: flex;
  color: grey;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.info a {
  color: inherit;
  margin-right: 15px;
}

/* ====================================== blog cards */

.bg-2 {
  background-image: url(../images/pattern-3289978_1280.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
  width: 90%;
  margin: 2% auto;
}

@media (max-width: 576px) {
  .card-deck {
    grid-template-columns: 1fr;
    width: 70%;
    margin: 0 auto;
  }
}

.card-deck .card {
  opacity: .9;
  border: none;
  width: 100%;
  margin: 0;
}

.card-deck img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  background: white;
  height: 100%;
  font-size: 1em;
  line-height: 22px;
}

/* ____________________________________add recipe form */

.bg-3 {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg") center center no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  padding: 4% 0;
  grid-template-columns: 15% 1fr 15%;
}

.contact-us {
  background: #f8f4e5;
  padding: 3% 8%;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
  grid-column: 2/3;
}

.form-container input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
  color: black;
}

.form-container input:focus {
  border-bottom: 5px solid #ffa580;
}

.auth {
  /* display: block; */
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
  color: inherit;
  border-radius: 0;
}

.auth:hover {
  background: black;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

::selection {
  background: #ffc8ff;
}

.form-container input:-webkit-autofill, .form-container input:-webkit-autofill:hover, .form-container input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  transition: background-color 5000s ease-in-out 0s;
}

#show {
  color: #90478f;
}

#show p {
  font-size: 20px;
  line-height: 25px;
}

#delete {
  display: inline;
}