<% include partials/header %>
<% include partials/nav %>


<h1>Dashboard</h1>
<ul>
    <li>ID: <%= user._id%></li>
    <li>Name: <%= user.name%></li>
</ul>


    <% }) %>


<% include partials/footer %>